<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.csubmobile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:name="com.app.csubmobile.appcontroller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.app.csubmobile.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.csubmobile.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.csubmobile.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.NewsActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.EventsActivity"
            android:label="@string/title_activity_events"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.BuildingsActivity"
            android:label="@string/title_activity_events"
            android:parentActivityName="com.app.csubmobile.MapActivity" />
        <activity
            android:name="com.app.csubmobile.DirectoryActivity"
            android:label="@string/title_activity_directory"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.SocialMediaActivity"
            android:label="@string/title_activity_socialmedia"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.DiningActivity"
            android:label="@string/title_activity_dining"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.TransportationActivity"
            android:label="@string/title_activity_transportation"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.Blackboard_MoodleActivity"
            android:label="@string/title_activity_moodle"
            android:parentActivityName="com.app.csubmobile.MainActivity" />
        <activity
            android:name="com.app.csubmobile.SingleNewsView"
            android:label="@string/title_activity_news"
            android:parentActivityName="com.app.csubmobile.NewsActivity" />

        // telemetry service for MapBox
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="96d760b7256c80059e6f4776e79e703a26ae5106" />

    </application>

</manifest>